[hyoo_talks][mol_theme="$mol_theme_light"] {
    --mol_theme_back: hsla( 0 , 0% , 80%, .25 );
	--hyoo_talks_theme_talker: hsla( 0 , 0% , 80%, .5 );
    --mol_theme_field: hsla( 0 , 0% , 100%, .75 );
    --mol_theme_control: black;
    --mol_theme_focus: #12BBA6;
}

[hyoo_talks][mol_theme="$mol_theme_dark"] {
    --mol_theme_back: hsla( 0 , 0% , 11%, .8 );
	--hyoo_talks_theme_talker: hsla( 0 , 0% , 5%, .5 );
    --mol_theme_field: hsla( 0 , 0% , 0%, .5 );
    --mol_theme_line: #343f48;
    --mol_theme_control: hsla( 0 , 0% , 100%, .9 );
    --mol_theme_focus: #12BBA6;
}
